body {
    background-color: aquamarine;
    text-align: center;
}

h1 {
    color: orangered;
    font-size:30px;
}
p{
    color:blueviolet;
        font-size:40;
    font-family:monospace;
}
